@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --headline-color: white;
  --background-color: #11151c;
  --text-color: rgba(255, 255, 255, 0.5);

  --text-xs: 0.75rem;
  --text-sm: 1rem;
  --text-base: 1.25rem;
  --text-lg: 1.5rem;
  --text-xl: 1.75rem;
  --text-2xl: 2rem;
  --text-3xl: 2.25rem;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: var(--background-color);
  font-family: "Open Sans", sans-serif;
  color: var(--text-color);
  text-align: center;
}

/* .canvas-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
} */
.model {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  max-width: 40%;
}

.headline-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

#text-behind,
#text-front,
#text-behind-blur {
  font-family: "Roboto", sans-serif;
  position: absolute;
  text-align: center;
  font-size: clamp(24px, 20vw, 200px);
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 10px;
  line-height: 0.8;
}

#text-behind {
  color: var(--headline-color);
  z-index: 1;
}

#text-behind-blur {
  color: var(--headline-color);
  filter: blur(7.5px);
  -webkit-filter: blur(7.5px);
  z-index: 0;
}

#text-front {
  /*  Set text-color to transparent to only show the outline  */
  color: transparent;
  text-stroke: 2px var(--headline-color);
  -webkit-text-stroke: 2px var(--headline-color);
  z-index: 3;
}

/* Less relevant code */

.more-content {
  height: 500vh;
  width: 100vw;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  top: 5%;
  height: 90%;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 3;
}

.title {
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-weight: 500;
}

.socials svg {
  margin: 0 5px;
  transition: all 0.5s ease-in-out;
  transform: scale(1);
}

.socials svg:hover {
  transform: scale(1.2);
  filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 1));
}

p {
  width: 300px;
  font-size: 0.75rem;
}

a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

a:hover {
  filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.9));
}

#product1 {
  text-align: center;
  min-height: 100vh;
}

#product1 .pro-container {
  display: flex;
  padding-top: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 15px;
}

#product1 .pro {
  width: 16%;
  min-width: 0px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(125, 125, 125, 0.2);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}

.pro {
  transition: all 0.1s;
  position: relative;
}

.pro-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overlay {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(105deg,
    transparent 40%,
    rgba(249, 249, 249, 0.8) 45%,
    transparent 54%);
  filter: brightness(1.2) blur(40px);
  background-size: 150% 150%;
  background-position: 100%;
  transition: all 0.1s;
}

#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.6);
}

#product1 .pro img {
  width: 75%;
  border-radius: 20px;
}

#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}

#product1 .pro .des span {
  color: #606063;
  font-size: 12px;
}

#product1 .pro .des h5 {
  padding-top: 7px;
  color: #cce7d0;
  font-size: 14px;
}

#product1 .pro .des i {
  font-size: 12px;
  color: rgb(243, 181, 25);
}
#product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #cce7d0;
}

#product1 .pro .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  font-weight: 500;
  color: #808c93;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: -70px;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 600px) {
  #product1 .pro-container {
    flex-direction: column;
    align-items: center;
  }

  #product1 .pro {
    width: 80%; /* Adjust the width as needed */
    margin: 15px auto; /* Center the element and add margin */
  }

  #product1 .pro:nth-child(2),
  #product1 .pro:nth-child(3),
  #product1 .pro:nth-child(4),
  #product1 .pro:nth-child(5) {
    margin-top: 100px;
  }
}